// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    font-size: 62.5%;
    height: 100%;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    background-color: #ecf0f1;
    height: 100%;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    height: 100px;
    padding-top: 2px;
    width: 100%;
    background: #e74c3c;
    text-align: center;
    border-bottom: 5px solid #c0392b;
}
header h1 {
    font-size:60px;
    line-height:100px;
    margin:0;
    color:#333;
}
.buttons {
    display: block;
    height: 120px;
    width: 100%;
    text-align: center;
    background-color: #e1e7e9;
    padding: 20px;
    border-bottom:3px solid #bdc3c7;
    background-image:url(image-path('background.png'));
    background-repeat:repeat;
}
.button-container {
    display: block;
    width: 550px;
    text-align: center;
    height: 80px;
    margin: 0 auto;
}
.or p {
    text-align: center;
    line-height: 80px;
    font-size: 48.549px;
    color: #c0392b;
    margin: 0 auto;
    z-index:9;
    text-shadow: 2px 2px 2px #333;
}
.section {
    width: 33.33%;
    margin: 0 auto;
    float: left;
    height: 100px;
    text-align: center;
}
.button {
    background-color: #34495e;
    z-index:1;
    outline: none;
    border-radius: 2px;
    border: none;
    width: 161.8px;
    height: 80px;
    color: #ecf0f1;
    font-size: 30px;
    &:visited {
        background-color:#2c3e50;
    }
    &:hover {
        background-color:#2c3e50;
    }
    &:active {
        background-color:#2c3e50;
    }
}
.upload-button {
    display: inline;
    float: left;
    margin-left: 20px;
}
.search-button {
    display: inline;
    float: right;
    margin-right: 20px;
}
.upload-small {
    font-size:20px;
    background-color:#e74c3c;
    color:#ecf0f1;
    &:visited {
        background-color:#c0392b;
    }
    &:hover {
        background-color:#c0392b;
    }
    &:active {
        background-color:#c0392b;
    }
}

.form-container {
    display:block;
    height:auto;
    width:100%;
    padding:10px;
}
.toggle {
    display:none;
}
.hide {
    display: none;
}
.show {
 display: block;   
}

/*Form Styling*/
.form-container {
    text-align: center;
    margin:0 auto;
    width:320px;
}
.form-container form {
    transition:all 0.5 ease;
    margin:0 auto;
    width:320px;
    text-align:left;
    font-size:18px;
}
.form-container form input {
    border:none;
    width:320px;
    height:30px;
    line-height:30px;
    font-size:20px;
}
.form-container form input.upload-small {
    height:80px;
}

@media (max-width: 632px){
    .buttons {
        width:100%;
        padding:0;
    }
    .button-container {
        width:100%;
    }
    .section:nth-of-type(2) {
        display:none;
    }
    .section {
        width:50%;
        margin: 0;
        padding:0;
        height:120px;
    }
    .button {
        display:inline;
        float:left;
        margin:10px;
        width:95%;
        height:100px;
    }
}

@media (max-width: 450px){
    header h1 {
        font-size:30px;
    }
    .form-container form input {
    width:85%;
    height:30px;
    }
}
